<div class="chapter chapter-entrance-animation" ng-show="shouldShowChapter()" ng-class="chapterClasses()">    

    <div class="chapter__intro" ng-show="user.isStartingChapter()" ng-hide="user.isGameOver">
        <div class="chapter__intro__id">Chapitre [[chapter.id]]</div>
        <h2 class="chapter__intro__title">[[chapter.title]]</h2>  
    </div>

    <div class="chapter__track" ng-hide="user.isStartingChapter()||user.isGameOver">
        <div class="chapter__track__id">Chapitre <b>[[chapter.id]]</b> / 4</div>
        <div class="chapter__track__bullets">
            <i class="chapter__track__bullets__bullet" ng-repeat="i in [] | range: 4" ng-class="{ active: i <= chapter.id - 1 }"></i>
        </div>
        <div class="chapter__track__progression">
            [[(chapter.id-1)/4*100]]<small>%</small>
        </div>
        <h2 class="chapter__track__title">[[chapter.title]]</h2>  
    </div>
    
    
    <ul class="chapter__cmd list-unstyled" ng-hide="user.isStartingChapter()||user.isGameOver">
        <li class="chapter__cmd__indicator chapter__cmd__indicator--ubm">
            <abbr class="chapter__cmd__indicator__help">
                ?<span class="chapter__cmd__indicator__help__definition">Unité de Bruit Médiatique : présence de votre crise dans les médias</span>
            </abbr>
            <span class="chapter__cmd__indicator__label">UBM</span>
            <span class="chapter__cmd__indicator__value">[[user.ubm]]%</span>
            <span class="chapter__cmd__indicator__progress progress">
                <span class="progress-bar progress-bar-danger" ng-style="{ width: user.ubm + '%' }">
                </span>                
            </span>
        </li>
        <li class="chapter__cmd__indicator chapter__cmd__indicator--trust">
            <abbr class="chapter__cmd__indicator__help">
                ?<span class="chapter__cmd__indicator__help__definition">Confiance accordée à Louis par le spin doctor</span>
            </abbr>
            <span class="chapter__cmd__indicator__label">Confiance</span>

            <span class="chapter__cmd__indicator__value">[[user.trust]]%</span>
            <span class="chapter__cmd__indicator__progress progress">
                <span class="progress-bar progress-bar-info" ng-style="{ width: user.trust + '%' }">
                </span>                
            </span>
        </li>
        <li class="chapter__cmd__indicator chapter__cmd__indicator--stress">
            <abbr class="chapter__cmd__indicator__help">
                ?<span class="chapter__cmd__indicator__help__definition">État émotionnel de Louis</span>
            </abbr>
            <span class="chapter__cmd__indicator__label">Stress</span>
            <span class="chapter__cmd__indicator__value">[[user.stress]]%</span>
            <span class="chapter__cmd__indicator__progress progress">
                <span class="progress-bar progress-bar-success" ng-style="{ width: user.stress + '%' }">
                </span>                
            </span>
        </li>
    </ul>

    <scene ng-repeat="scene in chapter.scenes" src="scene" chapter="chapter"></scene>    

</div>
