<ul class="chapter__cmd list-unstyled" ng-hide="user.isStartingChapter()">
    <li class="chapter__cmd__indicator chapter__cmd__indicator--ubm">
        <abbr class="chapter__cmd__indicator__help">
            ?
            <span class="chapter__cmd__indicator__help__definition">Unité de Bruit Médiatique : présence de votre crise dans les médias</span>
        </abbr>
        <span class="chapter__cmd__indicator__label">UBM</span>
        <span class="chapter__cmd__indicator__value">[[user.ubm]]%</span>
        <span class="chapter__cmd__indicator__progress progress">
            <span class="progress-bar progress-bar-danger" ng-style="{ width: user.ubm + '%' }">
            </span>                
        </span>
    </li>
    <li class="chapter__cmd__indicator chapter__cmd__indicator--trust">
        <abbr class="chapter__cmd__indicator__help">
            ?
            <span class="chapter__cmd__indicator__help__definition">Confiance accordée à Louis par le spin doctor</span>
        </abbr>
        <span class="chapter__cmd__indicator__label">Confiance</span>

        <span class="chapter__cmd__indicator__value">[[user.trust]]%</span>
        <span class="chapter__cmd__indicator__progress progress">
            <span class="progress-bar progress-bar-info" ng-style="{ width: user.trust + '%' }">
            </span>                
        </span>
    </li>
    <li class="chapter__cmd__indicator chapter__cmd__indicator--stress">
        <abbr class="chapter__cmd__indicator__help">
            ?
            <span class="chapter__cmd__indicator__help__definition">État émotionnel de Louis</span>
        </abbr>
        <span class="chapter__cmd__indicator__label">Stress</span>
        <span class="chapter__cmd__indicator__value">[[user.stress]]%</span>
        <span class="chapter__cmd__indicator__progress progress">
            <span class="progress-bar progress-bar-success" ng-style="{ width: user.stress + '%' }">
            </span>                
        </span>
    </li>
</ul>