<div class="debug-toolbar" ng-init="hidden = true" ng-class="{'debug-toolbar--hidden': hidden}">
    <h3>Debug toolbar</h3>
    <div class="debug-toolbar__controls">
        <button class="btn btn-default" ng-click="restartCurrentChapter()">
            Début du chapitre
        </button>
        <button class="btn btn-default" ng-click="restartGame()">
            Recommencer
        </button>
        <button class="btn btn-default" ng-click="gameOver()">
            Game over
        </button>
        <button class="btn btn-default" ng-click="gameDone()">
            Game done
        </button>
    </div>
    <form class="debug-toolbar__summary text-right" ng-submit="update()">
        <div class="form-inline form-group">
            <label>Chapitre&nbsp;:</label>
            <input ng-model="inputChapter" type="text" required class="debug-toolbar__summary__info form-control"/>
        </div>
        <div class="form-inline form-group">
            <label>Scène&nbsp;:</label>
            <input ng-model="inputScene" type="text" required class="debug-toolbar__summary__info form-control"/>
        </div>
        <button type="submit" class="btn btn-default btn-xs">OK</button>            
    </form>
    <button ng-click="hidden = !hidden"  class="btn btn-default debug-toolbar__toggler">
        <span class="caret" ng-class="{ 'caret-reversed': !hidden }"></span>
    </button>
    <hr />
    <ul class="list-inline">
        <li>Guilt : <span class="label">[[user.indicators.guilt]]%</span></li>            
        <li>Honesty : <span class="label">[[user.indicators.honesty]]%</span></li>
        <li>Karma : <span class="label">[[user.indicators.karma]]%</span></li>
    </ul>
</div>