<div class="debug-toolbar" ng-init="hidden = true" ng-class="{'debug-toolbar--hidden': hidden}">
    <h3>Debug toolbar</h3>
    <div class="debug-toolbar__controls">
        <button class="btn btn-default" ng-click="restartCurrentChapter()">
            Restart current chapter
        </button>
        <button class="btn btn-default" ng-click="restartGame()">
            Restart the game
        </button>
        <button class="btn btn-default" ng-click="gameOver()">
            Set game over
        </button>
    </div>
    <div class="debug-toolbar__summary text-right">
        <div class="form-inline form-group">
            <label>Current Chapter&nbsp;:</label>
            <input ng-model="currentChapter" type="text" class="debug-toolbar__summary__info form-control"/>
            <button class="btn btn-default btn-xs" ng-click="setChapter(currentChapter)">change</button>            
        </div>
        <div class="form-inline form-group">
            <label>Current Scene&nbsp;:</label>
            <input ng-model="currentScene" type="text" class="debug-toolbar__summary__info form-control"/>
            <button class="btn btn-default btn-xs" ng-click="setScene(currentScene)">change</button>            
        </div>
        <div class="form-inline form-group">
            <label>Current Sequence&nbsp;:</label>
            <input ng-model="currentSequence" type="text" class="debug-toolbar__summary__info form-control"/>
            <button class="btn btn-default btn-xs" ng-click="setSequence(currentSequence)">change</button>            
        </div>
    </div>
    <button ng-click="hidden = !hidden"  class="btn btn-default debug-toolbar__toggler">
        <span class="caret" ng-class="{ 'caret-reversed': !hidden }"></span>
    </button>
</div>