<div class="debug-toolbar" ng-init="hidden = true" ng-class="{'debug-toolbar--hidden': hidden}">
    <h3>debug toolbar</h3>
    <div class="debug-toolbar__controls">
        <button class="btn btn-default" ng-click="restartCurrentChapter()">
            Restart current chapter
        </button>
        <button class="btn btn-default" ng-click="restartGame()">
            Restart the game
        </button>
    </div>
    <div class="debug-toolbar__summary">
        <div class="input-group">
            <span class="input-group-addon">Current Chapter:</span>
            <input ng-model="currentChapter" type="text" class="debug-toolbar__summary__info"/>
            <span class="input-group-addon-btn">
                <button class="btn btn-default" ng-click="setChapter(currentChapter)">change</button>
            <span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Current Scene:</span>
            <input ng-model="currentScene" type="text" class="debug-toolbar__summary__info"/>
            <span class="input-group-addon-btn">
                <button class="btn btn-default" ng-click="setScene(currentScene)">change</button>
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Current Sequence:</span>
            <input ng-model="currentSequence" type="text" class="debug-toolbar__summary__info"/>
            <span class="input-group-addon-btn">
                <button class="btn btn-default" ng-click="setSequence(currentSequence)">change</button>
            </span>
        </div>
    </div>
    <button ng-click="hidden=!hidden">
        <span ng-class="{ 'caret': hidden, 'caret caret-reversed': !hidden }"></span>
    </button>
</div>