<div class="game-done" ng-controller="GameDoneCtrl" ng-show="shouldShowTheEnd()">
    <div class="game-done__bg"></div>
    <div class="game-done__title">
        <hr class="game-done__title__topping">
        <h1>Fin</h1>
    </div>
    <div class="game-done__summary">
        <h3 class="game-done__summary__title">Fin de la partie</h3>

        <p class="game-done__summary__description">
            Raw denim organic put a bird on it, craft beer excepteur shabby chic bitters cardigan Thundercats nihil hella gentrify duis meh. Synth cillum leggings selfies, fanny pack swag eiusmod Vice biodiesel sed. 
        </p>
    </div>

    <div class="game-done__summary-viewer">
    </div>
</div>
