<div class="game-done" ng-controller="GameDoneCtrl" ng-show="shouldShowTheEnd()">
    <div class="game-done__bg"></div>
    <div class="game-done__title">
        <hr class="game-done__title__topping">
        <h1>Fin</h1>
    </div>
    <div class="game-done__summary">
        <h3 class="game-done__summary__title">Fin de la partie</h3>

        <p class="game-done__summary__description">
            Raw denim organic put a bird on it, craft beer excepteur shabby chic bitters cardigan Thundercats nihil hella gentrify duis meh. Synth cillum leggings selfies, fanny pack swag eiusmod Vice biodiesel sed. 
        </p>
    </div>

    <div class="game-done__results">
        <!-- TODO: the summary viewer visualization -->
        <div class="results__feedbacks__share">
            <button class="btn btn-default results__feedbacks__share__facebook">
                <span class="sr-only">Facebook</span>
            </button>
            <button class="btn btn-default results__feedbacks__share__twitter">
                <span class="sr-only">Twitter</span>
            </button>
        </div>

        <scatter-plot ng-if="shouldShowTheEnd()" results="results"></scatter-plot>

        <button ng-click="user.newUser()" 
                class="game-done__results__restart-button btn btn-default btn-lg">
            Recommencer
        </button>
    </div>
</div>
