<header class="nav nav--lite">
    <ul class="nav__partners nav--lite__partners list-inline">
        <li>
            <a class="nav__partners__logo" href="http://pltv.fr/" target="_blank">
                <img src="/img/ui/logo_premiereslignes.png" alt="Première ligne" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://nouvelles-ecritures.francetv.fr/" target="_blank">
                <img src="/img/ui/logo_nouvellesecritures.png" alt="Nouvelles écritures" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.france5.fr/" target="_blank">
                <img src="/img/ui/logo_france5.png" alt="France5" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://jplusplus.org/" target="_blank">
                <img src="/img/ui/logo_jplusplus.png" alt="Journalism++" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://florentmaurin.com/" target="_blank">
                <img src="/img/ui/logo_pixelhunt.png" alt="The Pixel Hunt" />
            </a>
        </li>
    </ul>
</header>