<header class="nav" ng-controller="NavCtrl">
	<ul class="nav__partners list-inline">
        <li>
            <a class="nav__partners__logo" href="http://pltv.fr/" target="_blank">
                <img src="/img/ui/logo_premiereslignes.png" alt="Première ligne" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://nouvelles-ecritures.francetv.fr/" target="_blank">
                <img src="/img/ui/logo_nouvellesecritures.png" alt="Nouvelles écritures" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.france5.fr/" target="_blank">
                <img src="/img/ui/logo_france5.png" alt="France5" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.franceinter.fr/" target="_blank">
                <img src="/img/ui/inter.png" alt="France Inter" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.telerama.fr/" target="_blank">
                <img src="/img/ui/telerama.png" alt="Télérama" />
            </a>
        </li>                        
        <li>
            <a class="nav__partners__logo" href="http://www.strategies.fr/" target="_blank">
                <img src="/img/ui/strategies.png" alt="Strategies" />
            </a>
        </li>
	</ul>

	<ul class="nav__links list-inline">
		<li><a class="nav__links__link" href="">crédits</a></li>
		<li><a class="nav__links__link" href="">à propos</a></li>
		<li><a class="nav__links__link" href="">les documentaires</a></li>
		<li><a class="nav__links__link" href="">le livre</a></li>
	</ul>

	<ul class="nav__cmd list-inline">
		<li class="nav__cmd__part">
			<ul class="nav__cmd__share list-inline">
				<li>
                    <a ng-click="thirdParty.shareOnFacebook()" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--facebook">
                        Facebook
                    </a>
                </li>
				<li>
                    <a ng-click="thirdParty.shareOnTwitter()" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--twitter">
                        Twitter
                    </a>
                </li>
                <li>
                    <a ng-click="thirdParty.shareOnGplus()" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--google">
                        Google
                    </a>
                </li>
			</ul>
		</li>
        <li class="nav__cmd__part btn-group" ng-show="user.inGame">
            <a class="btn btn-sm btn-default" ng-click="user.newUser(); user.inGame = false">Restart</a>
        </li>
        <li class="nav__cmd__part" ng-show="shouldShowSaveButton()">
            <button class="nav__cmd__save btn btn-sm btn-default" ng-click="shouldShowSaveForm = !shouldShowSaveForm" ng-class="{ 'nav__cmd__save--on': shouldShowSaveForm && user.inGame  }">
                Sauvegarder
            </button>
        </li>
		<li class="nav__cmd__part">
            <div class="nav__cmd__volume">
                <div class="nav__cmd__volume__state"  ng-class="{ 'nav__cmd__volume__state--off': !isVolumeOn() }" ng-click="volume=0"></div>
                <div class="nav__cmd__volume__slider-holder">
                    <div slider ng-model="volume" step="1" start="0" end="100"></div>
                </div>
            </div>
		</li>
	</ul>

    <div class="nav__save" ng-class="{ 'nav__save--visible': shouldShowSaveForm && user.inGame  }">
        <form class="nav__save__form form-horizontal" ng-submit="save()">
            <input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" /> 
            <button type="submit" class="nav__save__form__submit btn btn-default" ng-disabled="form.$invalid">OK</button>
            <p class="nav__save__form__indication">Pour retrouver votre partie en cours entrez votre adresse. Vous recevrez alors par mail un code d'accès privé.</p>
        </form>
    </div>
</header>