<header class="nav" ng-controller="NavCtrl">
	<ul class="nav__partners list-inline">
        <li>
            <a class="nav__partners__logo" href="http://pltv.fr/" target="_blank">
                <img src="/img/ui/logo_premiereslignes.png" alt="Première ligne" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://nouvelles-ecritures.francetv.fr/" target="_blank">
                <img src="/img/ui/logo_nouvellesecritures.png" alt="Nouvelles écritures" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.france5.fr/" target="_blank">
                <img src="/img/ui/logo_france5.png" alt="France5" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://jplusplus.org/" target="_blank">
                <img src="/img/ui/logo_jplusplus.png" alt="Journalism++" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://florentmaurin.com/" target="_blank">
                <img src="/img/ui/logo_pixelhunt.png" alt="The Pixel Hunt" />
            </a>
        </li>
	</ul>

	<ul class="nav__links list-inline">
		<li><a class="nav__links__link" href="">crédits</a></li>
		<li><a class="nav__links__link" href="">à propos</a></li>
		<li><a class="nav__links__link" href="">les documentaires</a></li>
		<li><a class="nav__links__link" href="">le livre</a></li>
	</ul>

	<ul class="nav__cmd list-inline">
		<li class="nav__cmd__part">
			<ul class="nav__cmd__share list-inline">
				<li>
                    <a href="" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--mail">
                        Email
                    </a>
                </li>
				<li>
                    <a href="" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--facebook">
                        Facebook
                    </a>
                </li>
				<li>
                    <a href="" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--twitter">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="" class="btn btn-default btn-sm nav__cmd__share__third-party nav__cmd__share__third-party--google">
                        Google
                    </a>
                </li>
			</ul>
		</li>
        <li class="nav__cmd__part btn-group" ng-show="user.inGame">
            <a class="nav__cmd__save btn btn-sm btn-default" ng-click="user.newUser(); user.inGame = false">Restart</a>
        </li>
        <li class="nav__cmd__part" ng-show="user.inGame">
            <a class="nav__cmd__save btn btn-sm btn-default" href="">Sauvegarder</a>
        </li>
		<li class="nav__cmd__part">
            <div class="nav__cmd__volume" ng-init="volume=50" >
                <div class="nav__cmd__volume__state"  ng-class="{ 'nav__cmd__volume__state--on': volume > 0, 'nav__cmd__volume__state--off': volume == 0 }" ng-click="volume=0"></div>
                <div class="nav__cmd__volume__slider-holder">
                    <div slider ng-model="volume" step="1" start="0" end="100"></div>
                </div>
            </div>
		</li>
	</ul>
</header>