<header class="nav" ng-controller="NavCtrl">
	<ul class="nav__partners list-inline">
        <li>
            <a class="nav__partners__logo" href="http://pltv.fr/" target="_blank">
                <img src="/img/ui/logo_premiereslignes.png" alt="Première ligne" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://nouvelles-ecritures.francetv.fr/" target="_blank">
                <img src="/img/ui/logo_nouvellesecritures.png" alt="Nouvelles écritures" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://www.france5.fr/" target="_blank">
                <img src="/img/ui/logo_france5.png" alt="France5" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://jplusplus.org/" target="_blank">
                <img src="/img/ui/logo_jplusplus.png" alt="Journalism++" />
            </a>
        </li>
        <li>
            <a class="nav__partners__logo" href="http://florentmaurin.com/" target="_blank">
                <img src="/img/ui/logo_pixelhunt.png" alt="The Pixel Hunt" />
            </a>
        </li>
	</ul>

	<ul class="nav__links list-inline">
		<li><a class="nav__links__link" href="">crédits</a></li>
		<li><a class="nav__links__link" href="">à propos</a></li>
		<li><a class="nav__links__link" href="">les documentaires</a></li>
		<li><a class="nav__links__link" href="">le livre</a></li>
	</ul>

	<ul class="nav__cmd list-inline">
		<li class="nav__cmd__part">
			<ul class="nav__cmd__share list-inline">
				<li><a href="">Email</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
                <li><a href="">Google+</a></li>
				<li><a href="">[[isStartingChapter|json]]</a></li>
			</ul>
		</li>
        <li class="nav__cmd__part">
            <a class="nav__cmd__save" ng-click="user.newUser()">Recommencer</a>
        </li>
        <li class="nav__cmd__part">
            <a class="nav__cmd__save" href="">Sauvegarder</a>
        </li>
		<li class="nav__cmd__part">
			<span class="nav__cmd__volume">
                <input type="range" ng-model="volume" value="50" min="0" max="100">         
            </span>
		</li>
	</ul>
</header>