<div class="scene" ng-controller="SceneCtrl" ng-show="shouldShowScene(scene)">  
    <!-- This is the main illustration -->      
    <img class="scene__bg" ng-src="/img[[scene.decor[0].background]]" /> 

    <div ng-repeat="sequence in scene.sequence" class="scene__sequence scene__sequence--[[sequence.type]]" ng-show="shouldShowSequence($index)">
        <pre>[[sequence|json]]</pre>
        <a class="scene__sequence__next btn btn-default" ng-show="shouldShowNext(sequence)" ng-click="goToNextSequence()">
            <span class="sr-only">Continuer</span>
        </a>
    </div>         
</div>