<div class="scene" ng-controller="SceneCtrl" ng-show="shouldShowScene(scene)">              

    <!-- This is the main illustration -->      
    <img class="scene__bg" ng-src="[[bg.src | media]]" ng-repeat="bg in getSceneBgs(scene) | filter:shouldDisplayBg" /> 
      
    <!-- Scene's sequence -->
    <div ng-repeat="sequence in scene.sequence" 
         class="scene__sequence scene__sequence--[[sequence.type]]"
         ng-show="shouldShowSequence($index) && !user.isStartingChapter() && !user.isGameOver">

        <!-- Dialog box, a the bottom of the screen -->
        <div ng-if="isDialog(sequence)">
            <div class="scene__sequence--[[sequence.type]]__frame">            
                <p class="scene__sequence--[[sequence.type]]__frame__header" ng-if="sequence.header">
                    [[sequence.header]]
                </p>
                <p class="scene__sequence--[[sequence.type]]__frame__character" ng-if="sequence.character">
                    [[sequence.character]]&nbsp;:
                </p>
                <div class="scene__sequence--[[sequence.type]]__frame__body" btf-markdown="sequence.body"></div>
                <div class="scene__sequence--[[sequence.type]]__frame__head" ng-if="getHeadSrc(sequence)">
                    <img ng-src="[[getHeadSrc(sequence)]]" />
                </div>
            </div>
            <a class="scene__sequence--dialogue__next btn btn-default" ng-show="shouldShowNext($parent.sequence)" ng-click="goToNextSequence()">
                <span class="sr-only">Continuer</span>
            </a>
        </div>

        <!-- Player box, a the bottom of the screen -->
        <div ng-if="isPlayer(sequence)">
            <p class="scene__sequence--voixoff__character" ng-if="sequence.character">
                [[sequence.character]]&nbsp;:                
            </p>
            <button class="btn btn-default scene__sequence--voixoff__play" ng-click="toggleVoicetrack()" ng-class="{ 'active': sound.voicetrack.isPlaying }">
                <span class="sr-only" ng-show="sound.voicetrack.isPlaying">Pause<span>
                <span class="sr-only" ng-hide="sound.voicetrack.isPlaying">Play<span>
            </button>                
            <div class="scene__sequence--voixoff__progression">
                <div class="progress">                
                    <div class="progress-bar" role="progressbar" ng-style="{ width: (sound.voicetrack._position/sound.voicetrack._duration)*100 + '%'}"></div>
                </div>
                <span class="scene__sequence--voixoff__progression__timestamp">
                    [[sound.voicetrack._position|minutes]] / [[sound.voicetrack._duration|minutes]]
                </span>
            </div>
            <div class="scene__sequence--voixoff__head" ng-if="getHeadSrc(sequence)">
                <img ng-src="[[getHeadSrc(sequence)]]" />
            </div>  
            <a class="scene__sequence--dialogue__next btn btn-default" ng-show="shouldShowNext($parent.sequence)" ng-click="goToNextSequence()">
                <span class="sr-only">Continuer</span>
            </a>
        </div>

        <!-- Choice box, at the middle of the screen -->
        <div ng-if="isChoice(sequence)">
            <h3 class="scene__sequence--choice__question">
                [[sequence.body]]
            </h3>
            <button ng-repeat="option in sequence.options"
                    class="btn btn-lg btn-default scene__sequence--choice__option" 
                    ng-click="selectOption(option, $index)">
                [[option.header]]
            </button>
            <div class="scene__sequence--choice__question__timeout">
                <div dk-circles></div>
            </div>
        </div>

        <!-- Notification, a the top right corner of the screen -->
        <div ng-if="isNotification(sequence)">
            <div class="scene__sequence--notification__header">[[sequence.header]]&nbsp;:</div>
            <div class="scene__sequence--notification__body" btf-markdown="sequence.body"></div>            
        </div>

    </div>   
</div>