.chapter {

    position:absolute;
    top:31px;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;

    &__intro {

        z-index:@chapter-zindex;
        position:absolute;
        top:140px;
        left:0;
        width: 327px;
        text-align: right;

        &__id {            
            margin-bottom:5px;
            padding:0 5px;
            line-height: 24px;
            height:24px;
            background:fade(black, 75);
            color:white;
            text-transform: uppercase;
        }

        &__title {            
            margin:0;
            padding:0 5px;
            text-transform: uppercase;
            text-shadow:0 0 5px @brand-primary;
            font-size: 65px;
            line-height: 65px;
        }
    }
}