.covering {
    background: no-repeat 0 0 @body-bg;
    background-size: cover;    
    min-height:100%;
    min-width:100%;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    .translate(-50%, -50%);
}