.nav {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:40px;
	line-height: 40px;
	background:fade(black, 75);
    z-index:@nav-zindex;

	&__partners {
		padding-left:10px;
		position:absolute;
		left:0;
		top:0;
	}

	&__links {
		position:absolute;
		left:50%;
		top:0;	
		.translate(-50%, 0);	

		li {
			padding:0;

			&:last-child a {
				border-right:0;
			}
		}

		&__link {
			padding:0 12px;
			border-right:1px white solid;
			height:10px;
			line-height: 10px;
			
		}
	}

	&__cmd {
		position:absolute;
		right:0;
		top:0;		

		&__share {


			li {
				padding-left:0;
			}

			&__third-party {

				.hide-text();
				height:30px;
				width:30px;
				background:no-repeat center center;
				background-color:@btn-default-bg;
				
				&--mail {
					background-image:url("/img/ui/pic_mail.png");
				}
				&--facebook {
					background-image:url("/img/ui/pic_facebook.png");

				}
				&--twitter {
					background-image:url("/img/ui/pic_twitter.png");

				}
				&--google {
					background-image:url("/img/ui/pic_google.png");

				}
			}
		}
	}


	&--lite {

		&__partners {
			left:50%;
			.translate(-50%, 0);
		}
	}
}