.noUi-target {
    height: 2px;
    border: none;
    box-shadow: none;
}

.noUi-origin {
    background-color: #808080;

}

.noUi-handle {
    cursor: pointer;
    &:after, &:before {
        background: none;
    }
    box-shadow: none;
    border: none;
    background: none;
    background-image: url('/img/ui/sound_slider.png');
    width: 12px;
    height: 12px;
    left: -6px;
    top: -5px;


}