.dot-mixin(@width){ 
}
.scatterplot {
    .round-dot(@dot-width) { 
        .translate( -@dot-width / 2, -@dot-width / 2 );
        width: @dot-width;
        height: @dot-width;
        border-radius: @dot-width / 2;
    }
    position: absolute;
    top: 50px;
    left: 50px;
    right: 200px;
    bottom: 50px;
    .dot {
        .round-dot(10px);
        border: 1px solid black;
        position: absolute;
        background: #3b3b3b;
        &--user-dot { 
            .round-dot(20px);
            background: white;
        }
    }

    &__legend {
        position: absolute; 
        &.horizontal-axe {
            top: 50%;
            &--max { 
                text-align: right;
                left: 100%; 
            }
            &--min { 
                text-align: left;
                left: 0%;   
            }
        }
        &.vertical-axe {
            left: 50%;
            text-align: center;
            &--max { top: 0%;   }
            &--min { top: 100%; }
            
        }
    }
}