@import "bootstrap.variables.less";
@import 'bootstrap.loader.less';
@import 'bootstrap.fix.less';
@import 'bootstrap.forms.less';

@scene-zindex         : 1000;
@scenebg-zindex       : @scene-zindex   - 100;
@chapter-zindex       : @scene-zindex   + 1000;
@welcome-zindex       : @chapter-zindex + 1000;
@results-zindex       : @welcome-zindex + 1000;
@game-over-zindex     : @chapter-zindex + 1000;
@game-done-zindex     : @chapter-zindex + 1000;
@nav-zindex           : @results-zindex + 1000;
@metanav-zindex       : @nav-zindex + 1000;
@debug-toolbar-zindex : @metanav-zindex + 1000;

@scatterplot-dot-zindex:  100;
@scatterplot-grid-zindex: 100;
@scatterplot-legend-zindex: @scatterplot-grid-zindex + 100;
@scatterplot-user-tooltip-zindex: @scatterplot-legend-zindex + 100;

@chapter-starting-duration-1: 6s;
@chapter-starting-duration-2: 1s;

@import 'mixins.less';
@import 'animations.less';
@import 'metanav.less';

.site_content {
    @import 'angular.less';
    @import 'nav.less';
    @import 'chapter.less';
    @import 'chapter.cmd.less';
    @import 'scene.less';
    @import 'results.less';
    @import 'welcome.less';
    @import 'game-over.less';
    @import 'game-done.less';
    @import 'scatter-plot.less';
    @import 'nouislider.less';
    @import 'debug-toolbar.less';
    @import 'global.less';
}

