{# title Home #}

{% extends 'layouts/one_column.twig' %}

{% block inline %} 

{% endblock inline %}

{% block content %}

<div class="page-header">
	<h1>Welcome <small>to pltv-spin</small></h1>
</div>


<p>Nothing here {{'yet' + '!'}}</p>
 
</body>
</html>

{% endblock content %}