{% extends 'layouts/master.twig' %}

{% block content %}
    {% if DISPLAY_DEBUG_TOOLBAR %}
        <debug-toolbar></debug-toolbar>
    {% endif %}
	<div ng-view></div>
	{% include 'partials/nav.twig' %}
{% endblock content %}
