{% extends 'layouts/master.twig' %}

{% block head %}
    {% if mode == "development" %}
        <link rel="stylesheet" href="/dev/css/wait.css" />
        <script src="http://localhost:35729/livereload.js"></script>
        <script type="text/javascript" src="/dev/js/wait.js"></script>
    {% endif %}

    {% if mode == "production" %}
        <link rel="stylesheet" href="/css/wait.min.css" />
        <script type="text/javascript" src="/js/wait.min.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wait" ng-controller="WaitCtrl">

        <div class="wait__intro">
            <h1>Jeu d'influences</h1>
            <p>
                Jusqu'où suivrez-vous votre Spin Doctor ?<br />
                Une fiction documentaire jouable au coeur<br />
                de la communication de crise.
            </p>
        </div>

        <div class="wait__subscribe">
            <p>Laissez votre email pour être informé de l'aventure</p>       
            <form class="form-horizontal wait__subscribe__form" role="newsletter" ng-submit="submit()" name="form">     
                <div class="form-group">
                    <label class="col-sm-1 control-label">Mail&nbsp;:</label>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" />
                    </div>
                    <input type="submit" class="wait__subscribe__form__submit btn btn-default" value="OK" ng-disabled="form.$invalid" />
                </div>
            </form>
            <div class="alert alert-danger form-horizontal wait__subscribe__alert" ng-show="error">
                <button type="button" class="close" aria-hidden="true" ng-click="error = false">&times;</button>
                Nous n'avons pas pu enregistrer votre email.
            </div>            
            <div class="alert alert-success form-horizontal wait__subscribe__alert" ng-show="success">
                <button type="button" class="close" aria-hidden="true" ng-click="success = false">&times;</button>
                Inscription réussie!
            </div>
        </div>
    </div>

    {% include 'partials/nav.twig' %}
{% endblock content %}
