<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="spin" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="spin" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="spin" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="spin" class="no-js"> <!--<![endif]-->    
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width">
        {% endblock %}

        <title>pltv-spin - {{ viewName }}</title>

        {% block link %}
            <link rel="stylesheet" href="/css/lib.css" />
        {% endblock %}

        {% block script %}
            <script src="/js/lib.min.js"></script>
        {% endblock %}

        {% block head %}
            {% include 'layouts/head.html' %}
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="content">
            {% block content %}
                {{ content|raw }}
            {% endblock content %}            
        </div>

        {% block inline%}{% endblock inline %}
    </body>
</html>
